body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stores {
  margin: 0px 20px 0px 20px;
}

.store {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}

.store .id {
  padding: 5px 10px 5px 10px;
  vertical-align: middle;
}

.store .name {
  padding: 5px 10px 5px 10px;
  vertical-align: middle;
}

.store .name button {
  padding: 0 8px 2px 0;

  color: darkgray;
}

.store .actions {
  display: flex;
}

.store button {
  padding: 10px;
  margin: 0 0 0 5px;
}

.store hr {
  color: white;
}

.store-delete-modal {
  width: auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: papayawhip;
}

.store-delete-modal h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.store-delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a0;
}



