body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.store {
  margin: 0;
  padding: 0;
  background-color: yellow;
  text-align: left;
}

.store .id {
  padding: 20px;
  background-color: red
}

.store .name {
  padding: 20px;
  background-color: green
}
